/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/* Título */
.title {
    margin-top: 135px;
    text-align: center;
    font-size: 2em;
    color: #2c3e50;
    font-weight: 700;
    margin-bottom: 20px; /* Ajustamos el margen inferior para que no se sobreponga */
}

/* Contenedor del formulario, centrado en la pantalla */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;  /* Hacer que el contenedor ocupe la altura disponible */
    padding: 20px;
    min-height: 500px; /* Establecer una altura mínima para pantallas pequeñas */
    margin-top: 20px; /* Evitar que se solape con el navbar en pantallas pequeñas */
}

/* Estilos de la tarjeta */
.product-card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;  /* Ancho máximo de la tarjeta */
    text-align: center;
}

/* Estilos para cada campo del formulario */
.form-group {
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

.form-group label {
    font-size: 1em;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    color: #333;
    margin-top: 5px;
}

.form-group textarea {
    resize: vertical;  /* Permitir redimensionar solo verticalmente */
}

/* Botón de envío */
.submit-btn {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.submit-btn:hover {
    background-color: #2980b9;
}

/* Diseño responsive */
@media (max-width: 768px) {
    .product-card {
        padding: 20px;
    }

    .title {
        font-size: 1.8em;
    }

    .submit-btn {
        font-size: 1em;
    }

    /* Para que el formulario no quede tan alto en pantallas pequeñas */
    .form-container {
        height: auto;
        margin-top: 20px;
    }
}

.upload-btn {
    position: relative;
    overflow: hidden;
}
.upload-btn input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Ocultar el texto predeterminado y el botón nativo */
input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
    margin-left: -175px;
}
input[type="file"]::file-selector-button {
    visibility: hidden;
}

/* Botones - altura fija idéntica al input */
.upload-btn, 
#btn-subir-aws {
    margin-top: 5px;
    height: 46px; /* Misma altura que el input */
}
