body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    margin-top: 20px;
    text-align: center;
    font-size: 2em;
    color: #2c3e50;
    font-weight: 700;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.315);
    text-align: center;
}

.product-card img {
    width: 100%;
    max-height: 500px; /* Aseguramos un alto fijo */
    object-fit: cover; /* Ajusta la imagen para que no se distorsione */
    border-radius: 10px;
}

.product-card h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #2c3e50;
}

.product-card p {
    color: #666;
}

.product-card .price {
    font-size: 1.5em;
    font-weight: 700;
    color: #3498db;
}

.product-card button {
    width: 75%;
    padding: 10px;
    margin: 5px 0;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.product-card button:hover {
    background-color: #2980b9;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}

.volver-btn {
    margin-top: 15px;
    margin-bottom: 20px;
    position: absolute; /* Cambiado de fixed a absolute */
    top: 100px; /* Ajusta según la altura de tu navbar */
    left: 20px; /* Ahora está a la izquierda */
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}