/* Estilos generales */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100%;
    overflow-x: hidden; /* Evita scroll horizontal */
    height: 100%; /* Asegura que el contenido ocupe toda la altura disponible */
}

/* Fondo animado */
.background {
    position: fixed; /* Fijo para que siempre esté en el fondo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Que cubra toda la pantalla */
    z-index: -1; /* Para que quede detrás del contenido */
    overflow: hidden;
}

/* Estilos del contenido */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el body ocupe siempre toda la altura de la ventana */
    box-sizing: border-box;
}

/* Título */
.title {
    margin-top: 20px;
    text-align: center;
    font-size: 2em;
    color: #2c3e50;
    font-weight: 700;
    margin-bottom: 20px; /* Ajustamos el margen inferior para que no se sobreponga */
}

/* Diseño responsive */
@media (max-width: 768px) {
    .title {
        font-size: 1.8em;
    }
}

/* Botones */
.btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #3498db;
    color: white;
}

.btn-primary:hover {
    background-color: #2980b9;
}

.btn-secondary {
    background-color: #2beaa7;
    color: white;
}

.btn-secondary:hover {
    background-color: #25c59a;
}
