{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Pantalla de Inicio
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/styles_vista_producto.css' %}">
<meta name="csrf-token" content="{{ csrf_token }}">
<a class="btn btn-primary rounded-circle volver-btn" title="Volver" href="{% url 'main_negocio' %}">
    <i class="bi bi-x-lg"></i>
</a> 
<h2 class="title">Mis Productos</h2>

<section class="product-grid" id="product-grid">
    <!-- Los productos se agregarán aquí dinámicamente -->
</section>

<!-- Definir las URLs de los archivos estáticos en el HTML como data-* -->
<div id="static-files" 
     data-default-image="{% static 'img/default_product.webp' %}" 
     data-edit-url="{% url 'editar_producto' %}">
</div>

<script src="{% static 'js/misProductos.js' %}"></script>

{% endblock %}