{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Subir Producto
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style_subir_producto.css' %}">
<h2 class="title">Subir Producto</h2>

<!-- Contenedor principal para centrar la tarjeta -->
<div class="form-container">

    <div class="product-card">
        <!-- Formulario para subir el producto -->
        <form id="productoForm">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre">Nombre del Producto:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>

            <div class="form-group">
                <label for="precio">Precio:</label>
                <input type="text" id="precio" name="precio" required>
            </div>

            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <label for="imagen">Imagen del prodcuto:</label>
                <div class="input-group">
                    <input type="file" class="form-control" id="foto" name="foto" 
                           accept="image/jpeg,image/png" required>
                    <button class="btn btn-outline-success upload-btn" type="button">
                        <i class="bi bi-folder2-open"></i> Explorar
                    </button>
                    <button class="btn btn-success" id="btn-subir-aws" type="button">
                        <i class="bi bi-cloud-upload"></i> Subir
                    </button>
                </div>
                <div class="form-text">Formatos: JPG, PNG. Máx. 5MB</div>
            </div>

            <div class="form-group">
                <label for="estado">Estado:</label>
                <select id="estado" name="estado" required>
                    <option value="activo">Activo</option>
                    <option value="inactivo">Inactivo</option>
                </select>
            </div>

            <div class="form-group">
                <label for="categoria">Categoría:</label>
                <select id="categoria" name="categoria" required>
                    <option value="" disabled selected>Selecciona una categoría</option>
                    <!-- Las opciones de categorías se llenarán mediante JavaScript -->
                </select>
            </div>

            <button type="submit" class="submit-btn">Subir Producto</button>
        </form>
    </div>
</div>

<div id="urls" 
     data-subir-imagen-url="{% url 'subir_imagen_s3' %}"
     data-registrar-producto="{% url 'registrar_producto' %}"
     data-obtener-categorias="categorias/">
</div>
<!-- Incluimos el archivo JavaScript externo -->
<script src="{% static 'js/subir_producto.js' %}"></script>
{% endblock %}